# folders
.obsidian/
software-testing/redis_replication-gateway_cluster-load_balancer/redis-cluster/*/container-data/
software-testing/redisSharding-gatewayCluster-loadBalancer/redis-server/*/appendonlydir/
**/container-data/

# file extensions
*.rdb
