#!/bin/bash
# Update the system packages
yum update -y

# Install Docker
yum install docker -y

# Start and enable the Docker service to run on boot
systemctl start docker
systemctl enable docker

# Add the default user to the Docker group
usermod -aG docker ec2-user

# Define the RabbitMQ configuration variables
# The Erlang cookie is strictly required to be identical across all nodes for clustering
ERLANG_COOKIE="injected_shared_cookie_string"
RABBITMQ_USER="admin"
RABBITMQ_PASS="admin123"

# Run the RabbitMQ container with the management plugin
# Port 5672: AMQP protocol for clients and workers
# Port 15672: Management UI
# Ports 4369, 25672: Required for internal cluster communication
docker run -d \
  --name rabbitmq-server \
  --restart always \
  --hostname $(hostname) \
  -p 5672:5672 \
  -p 15672:15672 \
  -p 4369:4369 \
  -p 25672:25672 \
  -e RABBITMQ_ERLANG_COOKIE=$ERLANG_COOKIE \
  -e RABBITMQ_DEFAULT_USER=$RABBITMQ_USER \
  -e RABBITMQ_DEFAULT_PASS=$RABBITMQ_PASS \
  rabbitmq:3-management

# Wait loop: Blocks execution until the RabbitMQ application inside the container is fully running
echo "Waiting for RabbitMQ container to initialize..."
while ! docker exec rabbitmq-server rabbitmqctl status > /dev/null 2>&1; do
  echo "Waiting for RabbitMQ container to initialize..."
  sleep 5
done
docker ps -a

# SECONDARY NODES CONFIGURATION: join cluster of primary node of RabbitMQ.
# Convert the injected IP (e.g., 10.0.0.25) to AWS short hostname format (e.g., ip-10-0-0-25)
PRIMARY_IP="${primary_ip}"
PRIMARY_HOSTNAME="ip-$(echo $PRIMARY_IP | tr '.' '-')"

echo "This is a secondary node. Joining cluster at rabbit@$PRIMARY_HOSTNAME..."

# Execute the cluster join commands
docker exec rabbitmq-server rabbitmqctl stop_app
docker exec rabbitmq-server rabbitmqctl reset
docker exec rabbitmq-server rabbitmqctl join_cluster rabbit@$PRIMARY_HOSTNAME
docker exec rabbitmq-server rabbitmqctl start_app

# Enable the Sharding Plugin
docker exec rabbitmq-server rabbitmq-plugins enable rabbitmq_sharding

# Define a policy to shard any queue that starts with 'ticket.'
# The plugin automatically routes messages by hashing their standard AMQP routing key.
# We only need to define the number of shards per node (1 shard per node = 3 total shards).
docker exec rabbitmq-server rabbitmqctl set_policy \
    shard-ticketing \
    "^ticket\." \
    '{"shards-per-node": 1}' \
    --apply-to exchanges