#!/bin/bash

# Update the system packages
yum update -y

# Install Docker
yum install docker -y

# Start and enable the Docker service to run on boot
systemctl start docker
systemctl enable docker

# Add the default user to the Docker group
usermod -aG docker ec2-user

# Define the Redis configuration variables
REDIS_PASS="admin123"

# 1. Run the Redis Master container
# We enforce the strict replication rules to prevent split-brain data loss
docker run -d \
  --name redis-server \
  --net host \
  --restart always \
  redis:latest \
  redis-server \
  --save "" \
  --requirepass $REDIS_PASS

# Wait loop: Blocks execution until the local Redis container is fully running
echo "Waiting for local Redis Master container to initialize..."
while ! docker exec redis-server redis-cli -a $REDIS_PASS ping | grep -q "PONG"; do
  sleep 5
done