#!/bin/bash

# Set RABBITMQ_HOSTS (expected as a comma-separated string) and REDIS_HOST
RABBITMQ_HOSTS="${rabbitmq_hosts}"
REDIS_HOST="${redis_host}"

# Update the system packages
yum update -y

# Install Git and Python3 Pip
yum install git python3-pip -y

REPO_URL="https://github.com/ivanmoliinero/comms-models-and-middleware.git"
TARGET_DIR="/home/ec2-user/comms-models-and-middleware"

# Clone the repository into the ec2-user home directory
cd /home/ec2-user
git clone $REPO_URL

cd $TARGET_DIR
git checkout indirect-rabbit-prim-secondary # TODO: change for final version

# Ensure ec2-user owns the cloned repository
chown -R ec2-user:ec2-user $TARGET_DIR

# Virtual Python env + packages installation executed as ec2-user
# This prevents permission denied errors when the systemd service runs as ec2-user
su - ec2-user -c "python3 -m venv /home/ec2-user/venv"
su - ec2-user -c "/home/ec2-user/venv/bin/pip install --upgrade pip"
su - ec2-user -c "/home/ec2-user/venv/bin/pip install -r $TARGET_DIR/requirements.txt"

# Create the systemd service unit file
cat << EOF > /etc/systemd/system/ticket-worker.service
[Unit]
Description=Python Ticketing Worker Service
After=network.target

[Service]
Type=simple
User=ec2-user
WorkingDirectory=$TARGET_DIR
# Pass the comma-separated list of RabbitMQ IPs to the worker script
ExecStart=/home/ec2-user/venv/bin/python3 $TARGET_DIR/server_side/worker.py --rabbitmq-hosts $RABBITMQ_HOSTS --redis-host $REDIS_HOST
# Automatically restart the service if it crashes or exits
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
EOF

# Reload the systemd manager configuration
systemctl daemon-reload

# Enable the service to start automatically on system boot
systemctl enable ticket-worker.service

# Start the service immediately
systemctl start ticket-worker.service