#!/bin/bash
# Set RABBITMQ_HOST and REDIS_HOST
RABBITMQ_HOST=${rabbitmq_host}
REDIS_HOST=${redis_host}

# Wait for main service of Redis to be up
# We use --connect-timeout and --max-time to force curl to fail fast if the connection hangs
until curl -s -f --connect-timeout 5 --max-time 10 "http://$REDIS_HOST"; do
  echo "Waiting for Redis main server to complete its setup..."
  sleep 10
done
echo "Done!"

# Update the system packages
yum update -y

# Install Git, Python3 Pip and NC tool to ensure connectivity.
yum install git -y
yum install python3-pip -y

REPO_URL="https://github.com/ivanmoliinero/comms-models-and-middleware.git"
TARGET_DIR="/home/ec2-user/comms-models-and-middleware"

# Clone the repository into the ec2-user home directory
cd /home/ec2-user
git clone $REPO_URL

cd $TARGET_DIR
git checkout indirect-quorum-queue # TODO: change for final version

# Virtual Python env + packages installation
python3 -m venv /home/ec2-user/venv

/home/ec2-user/venv/bin/pip install --upgrade pip
/home/ec2-user/venv/bin/pip install -r $TARGET_DIR/requirements.txt

su - ec2-user -c "nohup /home/ec2-user/venv/bin/python3 $TARGET_DIR/server_side/worker.py --rabbitmq-host $RABBITMQ_HOST --redis-host $REDIS_HOST > /home/ec2-user/worker.log 2>&1 &"